body {
		  background: url(21a.jpg) fixed no-repeat; 
     background-size: 100% auto;
      position: absolute;
      max-width:100%;
      height:auto;
      background-color: #a49198;
      }

header{
width: 100%;
background-color: white;
} 

nav{
      width: 100%;
      height: 15%;
      list-style: none;
      /*padding-top:20px 0 5px;*/
      padding: 0px 0 0px;
      position:relative;
      margin: -25px;
      text-align: center;
      background: white;
      

    }
nav li{
    display: inline-block;
    padding-top: 12px;

   }
nav li: after{
    content: "|";
    color: #606060;
    display: inline-block;
    vertical-align: top;


  }

nav li: last-child: after{
    content: none;
  }     
    
nav li a {
       display: inline-block;
       text-decoration: none;
       font-style: verdana;  
       position: relative;
       
       color: black;
       font-size: 0.9em;
       padding-bottom: 10px;
       letter-spacing: 8px;
       margin: 0 35px 0 35px;
       cursor: pointer;
     
       transition: all 2s linear;
-moz-transition:all 2s linear;
-webkit-transition:all 2s linear;
-o-transition:all 2s linear;
}

nav li a:hover{
 background-color:#fffcf6;
 height: 17px; 
 width: 20px;
}

.info {
        float:right;
        margin-right: 150px;
        margin-top: 70px;
        width: 350px;
        height: 300px;
        font-size: 1em;
        letter-spacing: 4px;
        font-family: arial, monospace,times;
        font-weight: lighter;
      }
 
   .gallery{
    margin-left: 250px;
    margin-top: 50px;
    font-family: arial, monospace,times;
    font-size: 1em;
    letter-spacing: 3px;
    font-weight: lighter;
    
   }

 .content {
   
    padding-left: 20px;
    margin-right: 10%;
    margin-top: 10%;
    height: 20%;
    width: 30%;
    font-size: 1.1em;
    letter-spacing: 3px;
    font-style: geneva;
    font-weight: lighter;
    border-radius: 10px;
 }

  @media only screen and (min-width:1401px) and (max-width:1700px){
    .container{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: minmax(170px,auto);
    grid-gap: 10px;
    padding-left: 10px;
    padding-top: 50px;
    margin-right: 10%;
    font-size: 1.1em;
    letter-spacing: 3px;
    font-style: geneva;
    font-weight: lighter;
    border-radius: 10px;
    grid-template-areas: 
    '. . . . . . aside aside aside'
    '. . . . . . aside aside aside'
    '. . . . . . aside aside aside';
   }
   aside{
    width: 100%;
    
    height: auto;
    grid-column: 7/9;
    grid-row: 2/4;
    align-self: start;
    justify-self: start;
   }
   nav ul{
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    'liM liA liC liG';
  }
  body{
    width: 150%;
  }
}
  @media only screen and (min-width:760px) and (max-width:1400px){
    .container{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: minmax(170px,auto);
    grid-gap: 10px;
    padding-left: 10px;
    padding-top: 50px;
    margin-right: 10%;
    font-size: 1.1em;
    letter-spacing: 3px;
    font-style: geneva;
    font-weight: lighter;
    border-radius: 10px;
    align-items: center;
    
    grid-template-areas: 
    '. . . . . . aside aside aside'
    '. . . . . . aside aside aside'
    '. . . . . . aside aside aside';
   }
   aside{
    grid-column: 8/10;
    grid-row: 1/3;
    width:100%;
    background-color: ;
  
    /*align-self: start;
    justify-self: start;*/
   }
   nav ul{
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    'liM liA liC liG';
  }
  body{
    width:110%;
  }
}
@media only screen and (min-width: 563px) and (max-width: 760px){
    .container{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: minmax(200px,auto);
    grid-gap: 0px;
    padding-left: 10px;
    padding-top: 20px;
    margin-top: 0px;
    font-size: 1.1em;
    letter-spacing: 3px;
    font-style: geneva;
    font-weight: lighter;
    grid-template-areas: 
    '. . . . . . aside aside aside'
    '. . . . . . aside aside aside';
  }
   aside{
    width:100%;
    grid-column: 7/9;
    grid-row: 1/3;
    align-self: start;
    justify-self: start;
   }
   ul{
    background-color: 
    padding: 0px;
    margin-top: 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    'liM liM liA liA'
    'liC liC liG liG';
   }
   nav{
    margin:-10px;
   }
   body{
    width:110%;
   }
 }
 @media only screen and (min-width: 460px) and (max-width: 562px){
    .container{
    /*display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(200px,auto);*/
    grid-gap: 0px;
    padding-left: 10px;
    padding-top: 70px;
    margin-top: 50px;
    font-size: 1.1em;
    letter-spacing: 3px;
    font-style: geneva;
    font-weight: lighter;
    border-radius: 10px;
   }
  ul{
    padding-bottom: 13%;
    padding-top: 10%;
    margin-right: 0px;
    font-size: 1.5em;
    margin-top: -10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-self: center;
    justify-self:start;
    grid-template-areas: 
    /*'liM liM liM liM'
    'liA liA liA liA'
    'liC liC liC liC' 
    'liG liG liG liG';*/
    '. . . . ' 
    '. . liM liM'
    '. . liA liA'
    '. . liC liC' 
    '. . liG liG';
   }

   header{
    background-color: #f9f9ef;
    opacity: .7;
  }
   form{
    display: grid;
    width:100%;
    padding: 7px;
    margin-left: -15px;
    background-color:  #a49198;
    opacity: .7;
    border:1px solid #dacdd0;
    border-radius: 10px;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: minmax(auto, auto);
    grid-template-areas: 

    'message  message message . . mail mail .'
    'message  message message . . mail mail .';
   }

  aside{
    margin-top: 50%;
  }

  nav{
    background-color: #a49198;
    width:105%;
  }
  body{
    width: 120%;
  }
}

@media only screen and (min-width: 160px) and (max-width: 459px){
    .container{
    /*display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(200px,auto);*/
    grid-gap: 0px;
    padding-left: 10px;
    padding-top: 70px;
    margin-top: 50px;
    font-size: 1.1em;
    letter-spacing: 3px;
    font-style: geneva;
    font-weight: lighter;
    border-radius: 10px;
   }

 ul{
    padding-bottom: 13%;
    padding-top: 12%;
    margin-right: 0px;
    font-size: 1.5em;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-self: center;
    justify-self:start;
    grid-template-areas: 
    'liM liM liM liM'
    'liA liA liA liA'
    'liC liC liC liC' 
    'liG liG liG liG';
   }

   form{
    background-color: #d1c7ca;
    opacity: .7;
    display: grid;
    width:100%;
    padding: 10px;
    margin-left: -10px;
    margin-top: -10%; 
    border:1px solid #dacdd0;
    border-radius: 10px;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(auto, auto);
    grid-template-areas: 
    '. message message message'
    '. message message message'
    '. mail mail mail'
    '. mail mail mail';
     

}
  body {
  margin-top: 0;
  width: 120%;
  }
  
  header{
   background-color: #f9f9ef;
    opacity: .7;
  }
  .secOne{
    grid-column: 2/5;
    }
  .secTwo{
    grid-column: 2/5;
  }
}

   
  .liM{
    grid-area: liM;
    align-self: center;
   }
  .liA{
    grid-area: liA;
    align-self: center;
    justify: start;
   }
  .liC{
    grid-area: liC;
    align-self: center;
   }
  .liG{
    grid-area: liG;
    align-self: center;
   }
  .secOne{
    grid-area: message;
   
    
   }
  .secTwo{
    grid-area: mail; 
   }
 
  .textarea{
    width: 80%;
    height: auto;
    
    /*grid-column: ;
    grid-auto-columns: minmax(100px, auto);
    grid-auto-rows: minmax(100px,auto);*/

    padding: 20px;
    background-color: #fefdfe ;
    border-color: #dacdd0;

    }

    
     a {
    text-decoration: none;
    }
  .btn{
   font-size: .9em;
   color: grey;
   font-family: verdana;
   letter-spacing: 2px;
   width:100px;
   height: 25px;
   border:1px solid #dacdd0;
   padding-top: 0px;
   }

  .alert {
  background: #eee;
  padding: 40px;  
  position: relative;
  font-weight: 600;
}

.close_btn {
  color: #000;
  padding: 15px 0px 5px 10px;
  display: block;
  position: absolute;
  top: 40px;
  right: 40px;  
}
button{
  background-color: white;

}


    


   

