body {
		background: url(20.jpg)  fixed no-repeat; 
        background-size: 100% auto;
        padding: 0px;
        
	    }

        
 .nav{

      list-style: none;
      padding-top:20px 0 5px;
      padding: 30px 0 5px;
      margin: -10px;
      text-align: center;
      background: white;


      
 }
  .nav li{
    display: inline-block;

   }
  .nav li: after{
    content: "|";
    color: #606060;
    display: inline-block;
    vertical-align: top;

  }

  .nav li: last-child: after{
    content: none;
  }     
    .nav li a {
       display: inline-block;
       text-decoration: none;
       font-style: verdana;  
       position: relative;
       background-color: #ffffff;
       color: black;
       font-size: 0.9em;
       padding-bottom: 10px;
       letter-spacing: 8px;
       margin: 0 34px 0 30px;
       cursor: pointer;
       transition: all 1s linear;
-moz-transition:all 1s linear;
-webkit-transition:all 1s linear;
-o-transition:all 1s linear;
}
.nav li a:hover{
background-color:#fffcf6;
 height: 17px; 
 width:170px;
 
}

.info {
        float:right;
        margin-right: 150px;
        margin-top: 70px;
        width: 350px;
        height: 300px;
        font-size: 1em;
        letter-spacing: 4px;
        font-family: arial, monospace,times;
        font-weight: lighter;
      }
 
   .gallery{
    margin-left: 250px;
    margin-top: 50px;
    font-family: arial, monospace,times;
    font-size: 1em;
    letter-spacing: 3px;
    font-weight: lighter;
    

   }

  #changefon{
    background-color: 
  }

   .contact {
    float: right;
    padding-left: 20px;
    margin-right: 150px;
    margin-top: 100px;
    height: 400px;
    width: 400px;
    font-size: 1.1em;
    letter-spacing: 3px;
    font-style: geneva;
    font-weight: lighter;
    border-radius: 10px;

    }
    .textarea{
    width: 300px;
    height: 150px;
    padding: 10px;
    background-color: #fefdfe ;
    border-color: #dacdd0;

    }
    form{
    box-sizing: border-box;
    width: 300px;
     }
     a {
  text-decoration: none;
}
.btn{
   font-size: 1.1em;
   font-family: geneva;
   font-weight: bolder;
   text-align: center;
   width:80px;
}

.alert {
  background: #eee;
  padding: 40px;  
  position: relative;
  font-weight: 600;
}

.close_btn {
  color: #000;
  padding: 15px 0px 5px 10px;
  display: block;
  position: absolute;
  top: 40px;
  right: 40px;  
}


    


   

