width: 100%;
  list-style: none;
  margin-top:-16px;
  padding:8px; 
  text-align: center;
  background-color: white;
  border-radius: 0;
  border: 0;
     
  }



 #nav li {
  display: inline-block;
  padding-top: 15px;
  }
 #nav li: after{
  content: "|";
  color: #606060;
  vertical-align: center;
position: absolute;
  }

  #nav li::last-child: after{
    content: none;

  }     
 #nav li a{
      display: inline-block;
      text-decoration: none;
      font-style: verdana;  
      position: relative;
      background-color: #ffffff;
      color:#000000;
      font-size: 0.9em;
      padding: 7px;
      margin: 10px;
      letter-spacing: 8px;
      margin: 0 25px 0 25px;
      cursor: pointer;
      transition: background .3s linear;
-moz-transition: background .3s linear;
-webkit-transition: background .3s linear;
-o-transition: background .3s linear;
}
#nav li a: hover{
background-color:#fffcf6;

 /*height: 20px; 
 width:100%;*/
 
}

.info {
        float:right;
        margin-right: 150px;
        margin-top: 70px;
        width: 350px;
        height: 300px;
        font-size: 1em;
        letter-spacing: 4px;
        font-family: arial, monospace,times;
        font-weight: lighter;
      }
 